# frozen_string_literal: true

<%- namespace_names.each_with_index do |c,i| -%>
<%= '  ' * i %>module <%= c %>
<%- end -%>
<%= ident %># Strum service
<%= ident %># You model description here...
<%= ident %>class <%= resource_class_name -%> < Sequel::Model
<%= ident %>end
<%- (namespace_names.size - 1).downto(0) do |i| -%>
<%= '  ' * i %>end
<%- end -%>
