# frozen_string_literal: true

<%- namespace_names.each_with_index do |c,i| -%>
<%= '  ' * i %>module <%= c %>
<%- end -%>
<%= ident %>module <%= resources_class_name %>
<%= ident %>  # Strum service
<%= ident %>  # You service description here...
<%= ident %>  class Find
<%= ident %>    include Strum::Service

<%= ident %>    def call
<%= ident %>      if (<%= resources_name %> = <%= resources_class_name %>::Search(input)).count.eql?(1)
<%= ident %>        output(resources_name: <%= resources_name %>.first)
<%= ident %>      elsif <%= resources_name %>.count > 1
<%= ident %>        add_error(:<%= resource_name %>, :criteria_wrong)
<%= ident %>      else
<%= ident %>        add_error(:<%= resource_name %>, :not_found)
<%= ident %>      end
<%= ident %>    end

<%= ident %>    def audit
<%= ident %>      @input = @input.slice(:id)
<%= ident %>      required(:id)
<%= ident %>    end
<%= ident %>  end
<%= ident %>end
<%- (namespace_names.size - 1).downto(0) do |i| -%>
<%= '  ' * i %>end
<%- end -%>
